DATABASE_URL=postgres://postgres:postgres@localhost:5432/transactions

PRIVATE_KEY=MC4CAQAwBQYDK2VwBCIEIIsEEc4byBIp2uyI6uehAexsKKrNANOXwksTnVSJO5a3

# ALERTS
ALERT_RECIPIENTS_LEVEL_1="informationschef@esek.se"
ALERT_RECIPIENTS_LEVEL_2="informationschef@esek.se"
ALERT_RECIPIENTS_LEVEL_3="informationschef@esek.se"
ALERT_EMAIL="alerts@teknologappen.se"
ALERT_PASSWORD="hehe"
ALERT_SMTP="smtp.protonmail.ch"
